@charset "utf-8";

.sec-top {
  text-align: center;
  padding: 1.5rem;
}

.sec-top .sec-tit {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.sec-top .sec-desc {
  font-size: 2.7rem;
}

.top-cart-count {
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 50%;
}

.control-btn {
  display: block;
  border: 1px solid black;
  border-radius: 30px;
  padding: 1rem;
  text-align: center;
}

.control-btn:hover {
  background-color: black;
  color: white;
  transition: 100ms all ease-out;
}

/* mobile */
/* header-nav */
.top {
  width: 100vw;
  z-index: 1;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.top-nav.back-color {
  background-color: white;
  transition: 0.6s;
}

.top-nav .top-title {
  font-size: 3.5rem;
  position: relative;
  top: 0.2rem;
  font-weight: 700;
}

.top-nav .top-nav-modal {
  background: transparent;
  border: none;
  padding: 0.5rem;
  font-size: 2.5rem;
  position: relative;
  top: 0.3rem;
}

.top-nav .top-nav-cart {
  font-size: 2.5rem;
  padding: 0.5rem;
  position: relative;
  top: 0.3rem;
}

.top-nav .top-nav-cart .count-mobile {
  position: absolute;
  width: 1.8rem;
  font-size: 1.4rem;
  top: -1px;
  right: 0;
}

.top-nav .top-category {
  display: none;
}

.top-nav-category {
  background-color: rgba(26, 25, 25, 0.87);
  width: 70%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 0.4s;
  z-index: 1;
}

.top-nav-category.open {
  left: 0;
}

.top-nav-category .category-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  background: transparent;
  border: none;
  font-size: 1.8rem;
}

.top-nav-category .category-box {
  margin-top: 100px;
}

.top-nav-category .category-item {
  font-size: 1.5rem;
  list-style: none;
  text-align: center;
}

.top-nav-category .category-item a {
  display: block;
  width: 100%;
  padding: 1em 0;
  color: white;
}

/* section-landing */
.home {
  height: 100vh;
}

.landing {
  display: flex;
  height: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.landing .landing-image-box {
  position: relative;
  top: 2rem;
}

.landing .landing-image-box img {
  display: block;
  height: 60rem;
  transform: rotate(-28deg);
}

.landing .landing-desc-box {
  text-align: center;
  position: absolute;
  bottom: 5rem;
}

.landing-desc-box .landing-detail-link {
  display: block;
  padding: 1rem;
  width: 50%;
  font-size: 1.8rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin: 0 auto;
}

/* section-new */
.new-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  padding: 5rem 0;
  background-color: rgb(238, 238, 238);
}

.new-top {
  margin-bottom: 5rem;
}

.new-box {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.new-box .new-box-list {
  width: 15rem;
  height: 15rem;
  background-color: white;
  border-radius: 50%;
  margin-right: 1rem;
}

.new-item-link:hover {
  transition: all 0.1s;
  background-color: rgba(192, 192, 192, 0.644);
}

.new-item-link:hover .new-item {
  transition: all 0.1s;
  transform: scale(1.05);
}

.new-box-list .new-item-link {
  display: block;
  border-radius: 50%;
  width: inherit;
  height: inherit;
}

.new-box-list .new-item-link .new-item {
  display: block;
  width: inherit;
  height: auto;
  position: relative;
  top: 22px;
}

/* section-goods */
.goods-page {
  padding: 8rem 3.5rem;
}

.goods-page .sec-top {
  margin-bottom: 2rem;
}

.goods-page .sec-top .goods-desc {
  font-size: 2.2rem;
}

.goods-page .goods-sort {
  margin-bottom: 5rem;
  text-align: center;
}

.goods-page .goods-sort .goods-item {
  background-color: black;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  width: 13rem;
  height: 2rem;
  font-size: 1.8rem;
}

.goods-page .goods-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.goods-card {
  padding: 2rem;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  margin-bottom: 3.5rem;
}

.goods-card .card-img-box {
  width: 100%;
}

.goods-card .card-img-box .card-img {
  display: block;
  width: inherit;
}

.goods-card .card-info {
  text-align: center;
}

.card-info .card-title {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0.7rem 0;
}

.card-info .card-precis .card-price {
  font-size: 2rem;
  margin-right: 4rem;
}

.card-info .card-precis .card-icon {
  position: relative;
  top: 1px;
  border: none;
  font-size: 2rem;
  background-color: transparent;
}

.card-info .card-precis .card-icon {
  margin-left: 1rem;
}

/* section-goods-pagination */
.goods-page .goods-pagination {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.goods-pagination .page-list .page-btn {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  width: 2.7rem;
}

.active {
  color: white;
  background-color: black;
  border-radius: 50%;
}

.page-list + .page-list {
  margin-left: 3rem;
}

/* footer */
.info-page {
  background-color: black;
  height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-page .inner-info-box {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.list-info + .list-info {
  margin-left: 0.5rem;
}

.list-info + .list-info::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  background-color: white;
  vertical-align: -1px;
  margin: 0 8px;
}

.info-page .inner-info-box .list-info .info {
  color: white;
}

.footer-tit {
  font-weight: bold;
}

.info-page .inner-copyright {
  color: white;
  font-size: 1.3rem;
  text-align: center;
}

/* iPhone 5 */
@media only screen and (max-width: 375px) {
  .sec-top .sec-tit {
    font-size: 2.7rem;
    margin-bottom: 1rem;
  }

  .sec-top .sec-desc {
    font-size: 2.4rem;
  }

  /* header-nav */
  .top-nav .top-title {
    font-size: 2.8rem;
  }

  /* section-landing */
  .landing .landing-image-box img {
    height: 50rem;
  }

  .landing-desc-box .landing-desc .card-tit {
    font-size: 2.8rem;
  }

  /* section-new */
  .landing .landing-image-box {
    left: -2rem;
  }
  .new-box .new-box-list {
    width: 15rem;
  }

  /* section-goods */
  .goods-page .sec-top .goods-desc {
    font-size: 1.7rem;
  }

  /* pagination */
  .page-list + .page-list {
    margin-left: 1.8rem;
  }

  /* footer */
  .info-page .inner-info-box {
    font-size: 1.2rem;
  }

  .info-page .inner-copyright {
    font-size: 1.1rem;
  }
}

/* 768px - 1024px */
@media only screen and (min-width: 768px) {
  .sec-top .sec-tit {
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  .sec-top .sec-desc {
    font-size: 4rem;
  }

  /* header-nav */
  .top-nav {
    padding: 2rem;
  }

  .top-nav .top-title {
    font-size: 4rem;
    padding: 0 3.5rem;
  }

  .top-nav .top-cart .count-mobile {
    display: none;
  }

  .top-nav .top-category {
    display: block;
  }

  .top-nav .top-category .category-box {
    display: flex;
    position: relative;
    top: -3px;
  }

  .top-nav .top-category .category-box .category-item {
    font-size: 3rem;
    padding: 1rem;
    margin-right: 2.5rem;
  }

  .category-item .top-cart .count-desk {
    display: inline-block;
    position: relative;
    top: -2px;
    width: 2.5rem;
    font-size: 2rem;
  }

  .top .top-nav-category .category-close {
    display: none;
  }

  .top-nav .top-nav-modal {
    display: none;
  }

  .top-nav .top-nav-cart {
    display: none;
  }

  /* section-landing */
  .landing .landing-image-box {
    top: -5rem;
    left: -7rem;
  }

  .landing .landing-image-box img {
    height: 50rem;
  }

  .landing .landing-desc-box {
    bottom: 10rem;
  }

  .landing-desc-box .landing-detail-link {
    padding: 1.3rem;
    font-size: 3rem;
  }

  /* section-new */
  .new-box .new-box-list {
    width: 28rem;
    height: 28rem;
    margin-right: 3rem;
  }

  .new-box-list .new-item-link .new-item {
    top: 40px;
  }

  /* section-goods */
  .goods-page .sec-top .goods-desc {
    font-size: 4rem;
  }

  .goods-page .goods-sort .goods-item {
    width: 28rem;
    height: 4rem;
    font-size: 3rem;
  }

  .goods-page .goods-container {
    justify-content: space-around;
  }

  .goods-container .goods-card {
    width: 40%;
  }
  .card-info .card-precis .card-price {
    font-size: 2.3rem;
  }

  .card-info .card-precis .card-icon {
    top: 2px;
    font-size: 2.5rem;
  }
  /* footer */
  .info-page {
    height: 30rem;
  }

  .info-page .inner-info-box {
    font-size: 2.4rem;
  }

  .info-page .inner-copyright {
    font-size: 2.1rem;
  }
}

/* desktop */
@media only screen and (min-width: 1025px) {
  .sec-top .sec-tit {
    font-size: 4rem;
  }

  .sec-top .sec-desc {
    font-size: 3rem;
  }
  /* header-nav */
  .top-nav {
    padding: 1rem;
  }

  .top-nav .top-title {
    font-size: 3rem;
    padding: 0 4rem;
    position: relative;
    top: 0.8rem;
  }

  .top-nav .top-category .category-box .category-item {
    font-size: 2.2rem;
    padding: 1.3rem;
    margin-right: 6rem;
  }

  /* section-landing */
  .landing .landing-image-box {
    top: 0rem;
  }

  .landing-desc-box .landing-detail-link {
    font-size: 2.2rem;
    transition: background 150ms ease-out;
  }

  .landing-desc-box .landing-detail-link:hover {
    background: none;
    color: black;
  }

  /* section-new */
  .new-page {
    padding: 10rem 0;
  }

  .new-page .new-box::-webkit-scrollbar {
    display: none;
  }

  /* section-goods */
  .card-info .card-precis .card-icon {
    top: 3px;
    font-size: 2.5rem;
  }

  .goods-page {
    padding: 10rem 7rem;
  }

  .goods-page .goods-sort .goods-item {
    width: 16rem;
    height: 3rem;
    font-size: 1.8rem;
  }

  .goods-page .sec-top .goods-desc {
    font-size: 3rem;
  }

  .goods-container .goods-card {
    width: 28%;
  }

  /* footer */
  .info-page {
    height: 23rem;
  }

  .info-page .inner-info-box {
    font-size: 2rem;
  }

  .info-page .inner-copyright {
    font-size: 1.7rem;
  }
}
